header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: #081720;
}

.div-logo {
  width: 17%;
  display: flex;
  flex-direction: row;

  margin: 10;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10vh;
  height: 10vh;
}

.text-logo {
  background: -webkit-linear-gradient(#00a3ff, rgba(76, 117, 141, 0.411));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infos {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  font-size: 20px;
}

.aboutus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.produtos {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.aplicativo {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.suporte {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.perfil {
  display: flex;
  flex-direction: row;

  margin: 10;
  align-items: center;
  justify-content: space-between;
}

.login {
  cursor: pointer;
  padding: 5px 14px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.carrinho {
  width: 5vh;
  height: 5vh;
}

.wrap-search {
  width: 10%;
  display: flex;
  flex-direction: row;

  background-color: #584e13;
  border-radius: 10px;
}

.search {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;

  width: 100%;

  background-color: transparent;

  margin: 10px;
}

.lupa {
  margin: 10px;
}

.input:focus {
  outline: 0;
}

.busca-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  pointer-events: none;
  color: #adadad;
}

.busca-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;

  background: -webkit-linear-gradient(to left, #0075b8e5, #ffdd00);
  background: -o-linear-gradient(to left, #0075b8e5, #ffdd00);
  background: -moz-linear-gradient(to left, #0075b8e5, #ffdd00);
  background: linear-gradient(to left, #0075b8e5, #ffdd00);
}
