.container-principal {
  display: flex;
  flex-direction: row;
  height: 55%;

  align-items: center;
  justify-content: space-around;
  background: linear-gradient(#081720, #081720) padding-box,
    linear-gradient(to right, #0075b8e5, #ffdd00) border-box;

  border-radius: 10px;
  border: 2px solid transparent;

  overflow: hidden;
  margin-top: 50px;
  padding: 0 20px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.container-dentro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;

  color: #fff;
  font-size: 24px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  align-items: center;
  justify-content: space-between;
}

.carrinho-vazio {
  width: 35%;
}

.btn-voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 38px;

  background-color: #ffd800;
  color: black;
  border-radius: 5px;

  text-decoration: none;
}

.btn-voltar-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 38px;

  background-color: #fff;
  color: black;
  border-radius: 5px;

  text-decoration: none;
}

.corpo-carrinho {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 50px;

  background-color: #0a1014;
}

.container-compras {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  background: linear-gradient(#081720, #081720) padding-box,
    linear-gradient(to right, #0075b8e5, #ffdd00) border-box;

  border-radius: 10px;
  border: 2px solid transparent;
  width: 70%;

  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;
  color: #fff;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.container-compras h1 {
  font-size: 50px;
}

.colum-direita {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  /* justify-content: space-around; */
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  background: linear-gradient(#081720, #081720) padding-box,
    linear-gradient(to right, #0075b8e5, #ffdd00) border-box;

  border-radius: 10px;
  border: 2px solid transparent;
  width: 100%;

  overflow: hidden;
  padding: 20px 20px;
  margin-bottom: 30px;
  color: #fff;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.p-subtotal {
  font-size: 24px;
  margin-bottom: 5px;
}

.preco-subtotal {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-fechar-pedido {
  width: 60%;
  height: 35px;
  border-radius: 10px;
  border: none;

  background-color: #ffd800;
  font-size: 15px;
  font-weight: bold;
}

.sugestoes {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  background: linear-gradient(#081720, #081720) padding-box,
    linear-gradient(to right, #0075b8e5, #ffdd00) border-box;

  border-radius: 10px;
  border: 2px solid transparent;
  width: 100%;

  overflow: hidden;
  padding: 20px 20px;
  margin-bottom: 30px;
  color: #fff;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.p-sugestao {
  font-size: 25px;
  margin-bottom: 30px;
}
